body {
    padding:0;
    margin:0;
    background:#999;
}

#config {
    display:block;
    color:#f00;
}

.header {
    font-family:Helvetica;
    font-size:12px;
    background:#999;
    padding-top:5px;
    text-align:center;
    width:100%;
    height:30px;
    z-index:2;

}

#pager {
    font-family:Helvetica;
    font-weight:bold;
    font-size:24px;
    padding:10px;
    text-align:center;
}

.wrapper {
    width:980px;
    margin:0 auto;
}

.viewer_frame {
    background-color:#fff;
    top:50px;
    left:260px;
    width:980px;
    z-index:2;
}

.left_shade{
    position:relative;
    float:left;
    background: rgb(198, 198, 198); opacity: 0.4;
    width:260px;
    height:100%;
    z-index:2;
}

.right_shade{
    position:relative;
    float:right;
    background: rgb(198, 198, 198); opacity: 0.4;
    width:260px;
    height:100%;
    z-index:2;

}

.scandata_area {
    position:absolute;
    top:50px;
    width:980px;
    overflow-y:scroll;
}

.scandata_wrapper {
    width:10000px;
}

.scandata {
    float:left;
}

